body {
    font-family: 'Droid Sans', Helvetica, Verdana, Arial;
    background-color: #333;
    margin:2em 0;
}

.header {
    background-color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.header h1 {
    font-size: 35px;
    color: #EFEFEF;
}

#map {
    height: 600px;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media all and (min-width: 1000px) {
#map {
    height: 400px;
  }
}
@media all and (min-width: 1250px) {
  #map {
    height: 500px;
  }
}


.infowindow {
  position: absolute;
  display: block;
  padding: 15px;
  max-width: 330px;
  min-width: 230px;
  min-height: 60px;
  border-radius: 25px;
  background: none repeat scroll 0 0 #333;
  color: #E1E1E1;
  font-size: 13px;
  opacity:0.9;
}

.infowindow .name {
  color: #BBFFAA;
  font-family: "lato";
  font-weight: bold;
  margin-bottom:15px;
  font-size: 25px;
  width: 100%;
  padding-right: 55px;
  float:left;
}

.infowindow .youzeers {
    float:left;
    width:100%;
    clear: left;
}

.infowindow .info {
    max-width: 200px;
    min-width:100px;
}

.infowindow .url_logo {
    float:right;
    width:50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.infowindow .url_logo img{
    border-radius: 0 10px 0 0;
}

.infowindow img {
  width: 100%;
}

.infowindow .youzeers a {
  text-align: center;
  width: 100px;
  float: left;
  color: #FFF;
  font-size: 15px;
  text-decoration:none;
}

.infowindow .youzeers a {
    font-weight: bold;
}

.infowindow .youzeers a img {
    border-radius: 25px;
    width: 50px;
}

.infowindow .youzeers a span {
    width: 100%;
    text-align: center;
}

#people {
    width:100%;
    padding: 1em 1em;
    margin: 1em 0;
    background-color: #444;
}

#people .person {

    width: 100px;
    display: inline-block;
    opacity: 0.6;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

#people .person:hover {
    opacity: 1;
}

#people .person img {
    width: 80px;
    margin:0 10px;
}

#people .person span {
    width: 100%;
    font-size:12px;
    text-align:center;
    display: inline-block;
    color: #EFE;
}

footer {
    position: absolute;
    bottom: 5px;
    right:15px;
    font-size: 11px;
    color: #CCC;

}

footer a {
    color: #DDD;

}
